body{
    margin: 0;
}
.damkaGrid{
    background-color: palevioletred;
    display: flex;
    width: 480px;
    height: 480px;
    padding: 10px;
}
.squareBlack{
    width: 60px;
    height: 60px;
    background-color:black
}
.squarewhite{
    width: 60px;
    height: 60px;
    background-color:white
}
.column{
    display: flex;
    flex-direction: column;
}